/*
  file: flex_0079.css
  使用 gap 属性让 flex item 元素产生间距，使用百分比作为单位
*/
.demo {
  border: 1px solid #000;
}

.demo {
  /* 在 flex 容器超过一行的 flex 元素换行显示 */
  flex-wrap: wrap;
  padding: 10px;
  /* 这里将原来的 10px 改为 10% */
  gap: 10%;
}

.item {
  flex: 1 20%;
}