/* 
  file: flex_0019.css
  justify-content: space-evenly; 的对齐效果
*/
.demo {
  justify-content: space-evenly;
  /* 相对 flex_0018 demo，仅仅只是修改了 justify-content 的属性值  */
  flex-wrap: wrap;
  border: 1px solid #000;
}
.item {
  width: 60px;
}
/* 让第 6 个 flex 元素的宽度 变大，看看布局效果的变化。 */
.item_6 {
  width: 200px;
}